# IDE backup files
*~
.idea
.vscode

# Artistic style indentation backup files
*.before_astyle

klocwork

build*

config/aruco
config/hri_scitos_description
config/kinova_description

UnitTestResults.txt
pylint_result*
